# Dependencies
node_modules
.pnp
.pnp.js
.yarn/

# Build
dist
build
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.iml
.DS_Store 